project/src/view/partials/header.pug
header
    .header-menu
        h1.menu-title CÔNG TY CỔ PHẦN ĐẦU TƯ BẤT ĐỘNG SẢN CỔNG VÀNG GOLGAREAL
        .menu-logo
            img(src="../../assets/images/homepage/logo.png", alt="")
        nav
            .nav-brand
                img(src="../../assets/images/homepage/logo.png", alt="")
            ul.nav-menu
                li.nav-item
                    a.nav-link(href="#") Trang chủ
                li.nav-item
                    a.nav-link(href="#") Giới thiệu
                li.nav-item
                    a.nav-link(href="#") Cổ đông
                li.nav-item
                    a.nav-link(href="#") Lĩnh vực đầu tư
                li.nav-item
                    a.nav-link(href="#") Dự án
                li.nav-item
                    a.nav-link(href="#") Thư viện
                li.nav-item
                    a.nav-link(href="#") Tuyển dụng
                li.nav-item
                    a.nav-link(href="#") Liên hệ
            .nav-toggler
                i.fas.fa-bars.open
                i.fas.fa-times.close
    //- h1.header-title-mobile CÔNG TY CỔ PHẦN <br> ĐẦU TƯ BẤT ĐỘNG SẢN <br> CỔNG VÀNG GOLGAREAL
    .header-slider
        .slide-item
            img(src="../../assets/images/homepage/showcase-1.jpg", alt="")
        .slide-item
            img(src="../../assets/images/homepage/showcase-2.jpg", alt="")
        .slide-item
            img(src="../../assets/images/homepage/showcase-3.jpg", alt="")
        .slide-item
            img(src="../../assets/images/homepage/showcase-4.jpg", alt="")

project/dist/html/partials/header.html
<header><div class="header-menu"><h1 class="menu-title">CÔNG TY CỔ PHẦN ĐẦU TƯ BẤT ĐỘNG SẢN CỔNG VÀNG GOLGAREAL</h1><div class="menu-logo"><img src="../../assets/images/homepage/logo.png" alt=""/></div><nav><div class="nav-brand"><img src="../../assets/images/homepage/logo.png" alt=""/></div><ul class="nav-menu"><li class="nav-item"><a class="nav-link" href="#">Trang chủ</a></li><li class="nav-item"><a class="nav-link" href="#">Giới thiệu</a></li><li class="nav-item"><a class="nav-link" href="#">Cổ đông</a></li><li class="nav-item"><a class="nav-link" href="#">Lĩnh vực đầu tư</a></li><li class="nav-item"><a class="nav-link" href="#">Dự án</a></li><li class="nav-item"><a class="nav-link" href="#">Thư viện</a></li><li class="nav-item"><a class="nav-link" href="#">Tuyển dụng</a></li><li class="nav-item"><a class="nav-link" href="#">Liên hệ</a></li></ul><div class="nav-toggler"><i class="fas fa-bars open"></i><i class="fas fa-times close"></i></div></nav></div><div class="header-slider"><div class="slide-item"><img src="../../assets/images/homepage/showcase-1.jpg" alt=""/></div><div class="slide-item"><img src="../../assets/images/homepage/showcase-2.jpg" alt=""/></div><div class="slide-item"><img src="../../assets/images/homepage/showcase-3.jpg" alt=""/></div><div class="slide-item"><img src="../../assets/images/homepage/showcase-4.jpg" alt=""/></div></div></header>
